/* header:nth-child(1){
        color: green; 
        border: 2px dashed purple;
} */
header .qqq {
        color: green;
        border: 2px dashed purple;
}

header:first-child {
        color: red;
}

header:nth-child(3) {
        color: blue;
}
section[class="ppp"]{
        background-color: rgb(170, 27, 154);
}
section:first-child{
        background-color: aqua;
}